<% include ./partials/header %>

<section class="hero is-fullheight is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">404 Page Not Found</h1>
        <h2 class="subtitle">Wow.. um, try again?</h2>
        <a href="/l/" class="button">Home</a>
      </div>
    </div>
  </section>

<% include ./partials/footer %>
