<% include ./partials/header %>

  <section class="hero is-primary is-small">
    
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%=song.name%>
        </h1>
        <h2 class="subtitle">
          <%=song.artist%>
        </h2>
      </div>
    </div>
  </section>
  <div class="columns is-mobile is-centered">
    <div class="column is-narrow is-four-fifths">
      <%-data%>
    </div>
  </div>
  
<% include ./partials/footer %>








  