<% include ./partials/header %>

  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="container">
        <h1 id="song-title" class="title">
          <%=song.name%>
        </h1>
        <h2 id="song-artist" class="subtitle">
          <%=song.artist%>
          <!-- <%=song.progress_ms%> -->
        </h2>
      </div>
    </div>
  </section>
  <div class="columns is-mobile is-centered">
    <div id="lyrics" class="column is-narrow is-four-fifths">
      <%-data%>
    </div>
  </div>
<% include ./partials/footer %>








  