<% include ./partials/header %>

<section class="hero is-primary is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Lyriqz
        </h1>
        <h2 class="subtitle">
          Automatically retrieves lyrics for currently playing song on Spotify.
        </h2>
        <a href="./auth/spotify" class="button is-light">Let's Go</a>
      </div>
    </div>
  </section>

<% include ./partials/footer %>